Front page 
.subject {
  border-top: 1px solid;
  border-bottom: 1px solid;
  justify-content: space-between;
  align-items: center;
}

.asd {
  justify-content: space-around;
}

.top-logo {
  display: flex;
  justify-content: space-evenly;
}
.square {
  height: 40px;
  width: 40px;
  background-color: white;
  border: 1px solid black;
}
.question-paper-display_1 {
  /* border: 1px solid lightgray; */
  width: 800px;
  height: 0%;
  justify-content: center;
  margin: 20px auto;
}

/* new  */
.details-display {
  padding: 4px 30px;
}
.top-titles-container {
  padding: 10px 0 0 0px; 
  margin-top: 0%;
}
.title-1 h4 {
  font-size: 19px;
  text-align: center;
}

.title-2 h5 {
  text-align: center;
}
.title-3 h4 {
  text-align: center;
}

.class-details {
  border-top: 1px solid;
  border-bottom: 1px solid;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-between;
}
.class-data b {
  font-size: 8px;
  text-align: center;
  align-items: center;
}
.student-details {
  display: flex;
  gap: 3px;
  align-items: baseline; 
  /* font-size: 20px; */ 
  /* padding: 20px; */
}
.line {
  border-bottom: 1px solid;
  width: 35%;
}
.student-number-row {
  padding: 10px 0;
  display: flex;
  /* justify-content: space-between; */
  gap: 8px;
}

.number-box {
  border: 1px solid;
  padding: 10px 7px;
}
.school-number-row {
  padding: 10px 0;
  display: flex;
  gap: 25px;
}
.number-box-1 {
  border: 1px solid;
  padding: 10px 12px;
}
.line-2 {
  border-bottom: 1px solid;
  width: 83%;
}

.third-row {
  display: flex;
  padding: 6px 0;
  justify-content: space-between;
}
.fourth-row {
  display: flex;
  padding: 10px 0;
  justify-content: space-between;
}
.line-3 {
  border-bottom: 1px solid;
  width: 100px;
}

.school-details {
  display: flex;
  gap: 5px;
  align-items: center;
  text-align: center;
}

.line-4 {
  border-bottom: 1px solid;
  width: 440px;
}
.line-5 {
  border-bottom: 1px solid;
  width: 25%;
}
.line-6 {
  border-bottom: 1px solid;
  width: 21%;
}

@media screen and (max-width: 799px) {
  .student-number-row,
  .school-number-row {
    display: block;
  }
  .third-row {
    display: block;
  }

  .details-display {
    padding: 4px 25px;
  }
  .class-data b {
    font-size: 14px;
  }
  .line {
    width: 50%;
  }
  .title-1 h4 {
    font-size: 20px;
  }
  .line-2 {
    width: 70%;
  }
  .line-3 {
    width: 100%;
  }
  .line-4 {
    width: 130px;
  }
  .ss {
    display: flex;
    margin: auto;
    text-align: center;
    align-items: baseline;
  }
  .top-logo{
    display: block;
    text-align: center;
  }
  .number-box {
    padding:14px 13px !important
  }
}
