.service-bg-img {
  width: 100%;
  height: 350px;
}

.page2-content-display {
  padding: 12px 38px;
}

.bg-img {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 700px;
  position: relative;
  background-image: url(../../../public/page2bg.png);
}



@media screen and (max-width: 799px) {
  .page2-content-display,
  .col-6 {
    width: 100%;
    padding: 10px 20px;
  }
  .bg-img {
    height: 500px;
  }
  .box {
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  position: relative;
  overflow: hidden;
  width: 1000px;
  max-width: 100%;
  height: 700px;
  /* margin-top: 200px; */
}
}


@media screen and (max-width: 576px){
  .box{
    height: auto;
  }
  .bg-img{
    height: 320px;
  }
}


@media screen  and (min-width: 1280px) {
  .box{
    width: 1440px ;
  }
   .box-lg{
     margin-top: 120px;
   }
}

