/* Admin Panel Starts */

.vi_0 {
  border: 2px solid #dee2e6;
  outline-width: 0px;
  padding: 7px;
  border-radius: 5px;
  width: 100%;
}
.header.light {
  padding: 12px 23px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
    rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
    rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

.header.dark {
  background-color: #212121;
  padding: 12px 23px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.right-admin {
  background-color: rgb(222 225 230 / 28%);
  padding-left: 8px;
  width: 80%;
}

.dark label {
  color: #efeeee;
}

.si09 .dark {
  background-color: rgb(51 51 51) !important;
}

.css-1hv8oq8-MuiStepLabel-label {
  font-size: 18px !important;
  font-family: "Outfit", sans-serif !important;
}

.css-za8x2c-MuiButtonBase-root-MuiButton-root {
  color: #f6f7f8 !important;
  background: navy !important;
  border-radius: 5px !important;
}

.css-1e6y48t-MuiButtonBase-root-MuiButton-root {
  color: #f6f7f8 !important;
  background: FF9933 !important;
  border-radius: 5px !important;
}

.css-a1sg1c-MuiButtonBase-root-MuiButton-root {
  color: #f6f7f8 !important;
  background: black !important;
}

.css-1rcalqv-MuiTypography-root {
  padding: 6px 8px !important;
  border-radius: 4px !important;
  font-size: 14px !important;
  background: rgb(5, 107, 5) !important;
  color: white !important;
}

/* tr {
  text-align: center;
} */

/* .table-bordered>:not(caption)>*>* {
  background: navy !important;
  color: #fff !important;
} */

.header .navbar-brand {
  display: flex;
  align-items: center;
  gap: 17px;
  line-height: 20px;
}

.im09 {
  text-align: center;
}

.sd_00 button {
  border-radius: 30px;
}

.add_0 {
  padding: 20px 40px;
  width: 380px;
  height: 421px;
  border-radius: 10px;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  border-radius: 10px;
  background-color: white;
  gap: 35px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid white;
}

.header-c {
  font-size: 25px;
  font-weight: 600;
  color: #5140eb;
  margin: 10px;
}

.admin-add-btn {
  background-color: #138808;
  color: white;
  padding: 8px 12px;
  border-radius: 4px !important;
}

.modal-add-btn {
  background-color: #138808;
  color: white;
  padding: 5px 10px;
  border-radius: 4px !important;
}

.modal-add-btn:hover {
  background-color: #107207;
  color: white;
}

.modal-close-btn {
  background-color: rgb(100, 99, 99);
  color: white;
  padding: 5px 10px;
  border-radius: 4px !important;
}
.modal-close-btn:hover {
  background-color: rgb(75, 74, 74);
  color: white;
}

.admin-all {
  display: flex;
}

/* 
.wrap-d {
  display: grid;
  justify-content: space-between;
} */

.di_90 {
  height: 140px;
  width: 200px;
}

.fw_90 {
  display: flex;
  justify-content: center;
}

input.name_0 {
  padding: 7px;
  width: 100%;
  border: 1px solid #141619;
  border-radius: 5px;
  outline-width: 0;
  font-size: 16px;
}

label {
  font-size: 18px;
  font-weight: 500;
}

/* pgination  */
/* .paginationBttns {
  width: 80%;
  height: 40px;
  list-style: none;
  color: #fff;
  display: flex;
  justify-content: center;
}

.paginationBttns a {
  padding: 10px;
  margin: 8px;
  border-radius: 5px;
  border: 1px solid #fdd12d;
  color: #fdd12d;
  cursor: pointer;
  text-decoration: none;
}

.paginationBttns a:hover {
  color: white;
  background-color: rgba(171, 210, 59, 1);
}

.paginationActive a {
  color: white;
  background-color: #fdd12d;
}

.active > .page-link,
.page-link.active {
  z-index: 3;
  color: var(--bs-pagination-active-color);
  background-color: #138808 !important;
  border-color: white !important;
}

.pagination .page-link{
  color: #138808 !important;
}

.page-item span.page-link{
  color: white !important;
}
.page-item:first-child .page-link {
  border-top-left-radius: var(--bs-pagination-border-radius);
  border-bottom-left-radius: var(--bs-pagination-border-radius);
}

.active > .page-link,
.page-link.active {
  z-index: 3;
  color: #fff;
  background-color: var(--bs-pagination-active-bg);
  border-color: var(--bs-pagination-active-border-color);
}

.page-link a{
  color: #138808 !important;
} */

.add-90 button {
  width: 151px;
  border: 1px solid #0d6efd;
  background: #0d6efd;
  padding: 8px;
  border-radius: 20px;
  color: white;
  font-size: 19px;
  font-weight: 600;
}

.add-90 button:hover {
  background-color: rgba(171, 210, 59, 1);
  border-color: rgba(171, 210, 59, 1);
}

.left-side {
  background-color: #fcfcfc;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  min-height: 650px;
  top: 0px;
  position: sticky;
  overflow: hidden;
  overflow-y: scroll;
  width: 258px;
  z-index: 99999;
}

.webmanagement {
  background-color: navy;
}

.webmanagement li {
  color: white;
  margin-top: 10px;
}

.webmanagement1 {
  background-color: #5e4340;
}

.scrolll_bar {
  overflow: hidden;
  overflow-x: scroll;
}

.si09 a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
}

.si09 ul {
  list-style: none;
  padding-top: 6px;
  background-color: #ff9933;
  padding-left: unset;
  min-height: 650px;
}

.add-gr {
  margin-left: 3rem !important;
}

.a-ele {
  margin: 10px 10px;
  /* border-radius: 40px; */
  padding: 10px;
  font-size: 18px;
}

.ad-b button {
  border-radius: 3px;
  color: white;
  font-size: 18px;
  border: 1px solid;
  background-color: #9d041b;
  padding: 5px;
  font-weight: 500;
}

.table > thead {
  background-color: #26aae0 !important;
  color: #000 !important;
}

.btn-primary {
  background: #138808 !important;
  border-color: #138808 !important;
  color: white !important;
}

.vi_0 {
  border: 2px solid #dee2e6;
  outline-width: 0px;
  padding: 7px;
  border-radius: 5px;
  width: 100%;
}

.vi_1 {
  border: 2px solid #dee2e6;
  outline-width: 0px;
  padding: 7px;
  border-radius: 5px;
  width: 96%;
}

.dask {
  border: 2px solid #dee2e6;
  padding: 21px;
  border-radius: 5px;
  background-color: #dee2e6;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.do-p {
  font-size: 25px;
  color: #141619;
  font-weight: 600;
  padding-bottom: 11px;
  text-align: center;
}

.no-p {
  border: 1px solid black;
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: center;
}

.no-p p {
  margin-top: 16px;
}

.do-n {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

.active-0 {
  /* background: #f08d15; */
}

.a-ele:hover {
  background: #fff;
  color: black;
  border-radius: 10px;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0 solid transparent;
  border-radius: 0.25rem;
  margin-bottom: 1.5rem;
  box-shadow: 0 2px 6px 0 rgb(218 218 253 / 65%),
    0 2px 6px 0 rgb(206 206 238 / 54%);
}

.me-2 {
  margin-right: 0.5rem !important;
}

.rounded-circle {
  border: 2px solid black;
  border-radius: 50%;
}

.ad_exp {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.modal-content {
  width: 100% !important;
}

.lab button {
  margin-top: 38px;
}

.form-5 {
  margin: auto;
  margin-top: 20px;
  padding: 20px;
  width: 900px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 20px;
  border: 1px solid black;
}

.form-14 {
  margin: auto;
  margin-top: 20px;
  padding: 20px;
  width: 900px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 20px;
  border: 1px solid black;
}

.text-underline {
  border-bottom: 1px dotted;
  width: 500px;
}

.customerhead {
  padding: 10;
  margin: 10;
  margin-left: 60;
}

/* UserTable.css */

/* Style the entire table */
table {
  border-collapse: collapse;
  width: 100%;
}

/* Style table header (thead) */
th {
  /* background-color: #86b7fe !important; */
  text-align: center;
  padding: 10px;
  color: black !important;
}

/* Style table rows (tbody) */
td {
  border-bottom: 1px solid #ddd;
  padding: 10px;
}

/* Style alternate rows differently */
tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* Hover effect on rows */
tr:hover {
  background-color: #ddd;
}

.slider-container {
  width: 80%;
  margin: 0 auto;
}

/*  */
.Adminheaderlightmode {
  background-color: white;
  color: black;
  box-shadow: -1px 10px 12px -7px rgba(32, 149, 140, 0.28);
  padding: 1%;
}

.srch-icon {
  display: flex;
  padding: 12px;
  /* width: fit-content; */
  justify-content: space-between;
}

.Adminheaderdarkmode {
  background-color: black;
  color: white;
  box-shadow: -1px 10px 12px -7px rgba(32, 149, 140, 0.28);
  padding: 1%;
}

td {
  text-align: center !important;
}
/* Scrollbar */
.kSMAC {
  position: relative;
  left: 0;
  background-color: #a5ada8 !important;
  cursor: pointer;
  width: 100px;
  height: 10px;
}
.jWCrSi {
  position: absolute;
  cursor: pointer;
  left: 0;
  width: 100%;
  background-color: #d3d5d6 !important;
  bottom: 0;
  height: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.box_1 {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  height: auto;
  border-radius: 24px;
  /* border: 1px solid black; */
  width: 100%;
  padding: 12px 0;
}
.box_1 label {
  font-weight: bold;
  letter-spacing: 0.5px;
  color: #083494;
}

.admin-login-bg {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 700px;
  background-image: url(../../../public/page2bg.png);
}

.cards-container {
  display: flex;
  text-align: center;
  padding: 0px 12px;
  justify-content: space-between;
}

.admin-logo-img {
  width: 245px;
  height: 102px;
}

.sidebar-close-icon {
  background-color: white;
  color: black;
  font-family: sans-serif;
  padding: 3px 4px;
  font-size: 18px;
  display: none;
}
.admin-sidebar-display {
  /* width: 20%; */
}

.lined-input {
  outline-width: 0px;
  padding: 13px;
  width: 100%;
  border-bottom: 1px solid;
  border-left: none;
  border-right: none;
  border-top: none;
  border-radius: 0;
}
.table-responsive{    
font-size:15px !important;
}
/* Admin Panel ends */

@media screen and (max-width: 799px) {
  .left-side {
    overflow: unset;
    overflow-y: unset;
    width: 0px;
  }

  .bg-body-tertiary {
    height: 5rem;
  }
  .si09 {
    position: absolute;
    top: 0px;
    left: 0;
  }
  .admin-logo-img {
    width: 200px;
    height: 78px;
  }
  /* .admin-all{
    width: max-content !important;
  } */
  .admin-sidebar-display {
    /* width: 20%; */
    /* background-color: navy; */
    z-index: 99999;
    height: 81px;
  }
  .custom-toggler {
    background-color: #083494 !important;
  }
  .sidebar-close-icon {
    display: block;
  }
  .cards-container {
    display: block;
    padding: 0px 15px;
  }
  .right-admin {
    width: 100%;
  }
  .header-c {
    font-size: 18px;
    margin: 5px;
  }

  .css-m5vj9m-MuiStepper-root {
    display: table-caption !important;
  }
  .box {
    display: block;
    width: 100%;
  }

  .admin-login-bg {
    height: 300px;
  }

  .cover-page {
    width: 371px !important;
  }
  .cover-page h2,
  h3 {
    font-size: 16px !important;
  }
  .cover-page img {
    width: 120px !important;
    height: 114px !important;
    image-rendering: pixelated;
  }
  .box_1 {
    overflow: hidden;
    overflow-x: scroll;
  }
  .blue-print_1tab {
    width: -webkit-fill-available !important;
  }
  .asda_res {
    width: max-content !important;
  }
  .asdasd_asda .table-responsive {
    overflow: unset !important;
  }
  .asdasdasd_asdaasda {
    width:50%;
  }
}
.hjhu button {
  width: 175px;
  padding: 8px;
  height: 82px;
  margin: 1px;
  font-size: 16px;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* .blinking {
  animation: blink 1s infinite;
} */
.gradient-background {
  background: linear-gradient(
    45deg,
    #ffd700,
    #ff69b4
  ); /* Adjust gradient colors */
}

.glow-text {
  color: #ffffff; /* Text color */
  text-shadow: 0 0 10px #ffd700, 0 0 20px #ff69b4; /* Adjust glow effect */
}
  
.modal-dialog {
   
    /* margin-left: 250px; */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0 auto;
    width: 90%;

  }

   