.Answer-paper-display {
  border: 1px solid lightgray;
  width: 800px;
  height: 100%;
  justify-content: center;
  margin: 20px auto;
}

.details-display {
  padding: 4px 50px;
}

.top-titles-container {
  padding: 0px 0 0 0px;
}

.title-1 h4 {
  font-size: 19px;
  text-align: center;
}

.title-2 h5 {
  text-align: center;
}

.title-3 h4 {
  text-align: center;
}

.class-details {
  /* border-top: 1px solid;
  border-bottom: 1px solid; */
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-between;
}

.class-data b {
  font-size: 15px;
  text-align: center;
  align-items: center;
}

.question-body-main {
  display: flex;
  justify-content: space-between;
  padding-bottom: 0px;
}

.question-body b {
  text-align: justify !important;
}

.two-3-marks-ans {
  display: flex;
  gap: 12px;
  height: 14rem;
}

.three-4-marks-ans {
  display: flex;
  gap: 12px;
  height: 15rem;
}

.eight-10-marks-ans {
  display: flex;
  gap: 12px;
  height: 63rem;
}

.page-footer {
  display: flex;
  justify-content: space-between;
  padding: 0px 20px;
}

@media screen and (max-width: 799px) {
  .top-header {
    width: 100% !important;
  }

  .Answer-paper-display {
    width: 100%;
    height: 100%;
  }

  .qp-end-buttons {
    gap: 8px;
    padding: 5px 5px;
  }

  .details-display {
    padding: 4px 20px;
  }

  .class-data b {
    font-size: 14px;
  }

  .title-1 h4 {
    font-size: 20px;
  }

  .two-3-marks-ans {
    height: 100%;
  }

  .three-4-marks-ans {
    height: 100%;
  }

  .eight-10-marks-ans {
    height: 100%;
  }

  .class-details {
    gap: 10px !important
  }
}


@media screen and (max-width: 576px) {
  #details-display-id4 {
    zoom: 0.25;
    transform: scale(1);
    transform-origin: 0 0;
    /* background-color: yellow; */
  }
    #details-display-id3 {
    zoom: 0.25;
    transform: scale(1);
    transform-origin: 0 0;
    /* background-color: yellow; */
  }
   #details-display-id2 {
    zoom: 1;
    transform: scale(1);
    transform-origin: 0 0;
    /* background-color: yellow; */
  }
  #details-display-id {
    zoom: 0.45;
    transform: scale(1);
    transform-origin: 0 0;
    /* background-color: yellow; */
  }
  .hideDownloadBtn{
    display: none;
  }
   #details-display-id-full {
    zoom: 1 !important;
    transform: scale(1) !important;
    transform-origin: 0 0 !important;
    /* background-color: yellow; */
  }
}

/* @media screen and (max-width: 576px) {
  #pdf,
  #pdf1 {
    zoom: 0.3;
    transform-origin: top left;
  }
} */

