.hhhh {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(45deg, #003cff, #e52e71, #7f00ff);
    background-size: 600% 600%;
    animation: gradientAnimation 10s ease infinite;
  }

  .welcome-container {
    text-align: center;
    color: #fff;
    position: relative;
    animation: bounceIn 1.5s ease-in-out 0.5s;
  }
  
@keyframes gradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  @keyframes bounceIn {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-30px);
    }
    60% {
      transform: translateY(-15px);
    }
  }