


.englishqp-page-body h2,
h4,
h5,
h6 {
  text-align: center !important;
}

.parts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: auto !important;
  padding: 0px 260px;
}

.time-and-marks {
  display: flex;
  justify-content: space-between;
}

.english-ans-line {
  border-bottom: 1px solid;
  width: 10%;
  height: 0;
  margin-top: 15px;
}

.options {
  padding: 0pc 35px;
  display: flex;
}

.poem {
  display: flex;
  align-items: center;
}
.poem-line {
  width: 50%;
  border-bottom: 1px solid;
}

.poem-line2 {
  width: 62%;
  border-bottom: 1px solid;
}

.ans-section {
  display: flex;
  gap: 10px;
}
.ans {
  display: flex;
  align-items: center;
}
.ans-box {
  border: 1px solid;

  padding: 15px;
}

.question-body p {
  margin: 0;

}

.map-img {
  width: 150px;
  height: 135px;
}



.img-mcq{
  display: flex;
}



.page-starts{
  position: relative;
}

.question-paper-display {
  /* border: 1px solid lightgray; */
  /* height: auto;
  min-height: 1170px; */
  width: 800px;
  justify-content: center;
  margin: 20px auto;
}

.englishqp-page-body {
  margin: 14px 50px;
}

.pageno{
  text-align: center;
  font-weight: bold;
}

.question-body-main {
  display: flex;
  justify-content: space-between;
  padding-bottom: 0px;
}


.footer-text{
  position:absolute;
  bottom:10px;
  right:320px;
}
@media screen and (max-width: 799px) {
  .question-paper-display {
    width: 100%;
    height: 100%;
  }

  .parts {
    padding: 0px 20px;
  }
  .options{
    display: block;
  }

  .img-mcq{
    display: block;
  }
  .englishqp-page-body {
    margin: 14px 10px;
  }
  .footer-text {
    position: absolute;
    bottom: -4px;
    right: 10px;
}

}
